@model IEnumerable<MyTask>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div  class="container-fluid">

    <div class="text-end">

        <a asp-controller="TodoTask" asp-action="Create" class="btn btn-outline-primary">Add New</a>

    </div>


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Priority</th>
                <th>CreatedAt</th>
                <th>DueDate</th>
                <th>IsCompleted</th>   
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          
            @foreach (var TodoTask in Model)
            {

                <tr>
                    <td>@TodoTask.Id</td>
                    <td>@TodoTask.Client?.Name</td>
                    <td>@TodoTask.Title</td>
                    <td>@TodoTask.Category?.Name</td>
                    <td>@TodoTask.Description</td>
                    <td>@TodoTask.Priority.Name</td>
                    <td>@TodoTask.CreatedAt.ToString("g")</td>
                    <td>@(TodoTask.DueDate.HasValue? TodoTask.DueDate.Value.ToString("g") : "N/A")</td>
                    <td>@(TodoTask.IsCompleted ? "Yes" : "No")</td>


                    <td>
                        <a asp-action="Edit" asp-route-Id="@TodoTask.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-Id="@TodoTask.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

            }
               
            
        </tbody>
    </table>
</div>